body {
    font-family: "Arial";
    background-color: black;
    color:white;
}

.list-group-item {
    background-color: black;
    color:white
}

.wd-search-tuiter {
    bottom: 5px;
    left: 10px;
}

.wd-selected a:hover {
    border:0;
    background-color: rgb(29, 161, 242) !important;
    color: white;
}

.wd-remove-underline {
    text-decoration: none;
}

.wd-highlight-nav {
    background-color: #2a9fd6 !important;
}